form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgb(134, 134, 134);
    height: 938px;
    border-radius: 30px;
    justify-content: center;
}

div{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px;
}

#temp {
    width: 200px;
    height: 30px;
    font-size: 16px;
    align-self: center;
    margin-bottom: 30px;
    border-radius: 10px;
}

label{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
    align-self: center;
}

button{
    width: 120px;
    height: 35px;
    font-size: 14px;
    align-self: center;
    border-radius: 15px;
}

#divResultado {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}

