body{
   display: grid;
   place-items: center;
}

.nome1{
    height: 600px;
    width: 800px;
    display: grid;
    background-color: aquamarine;
}

.nome2{
    height: 180px;
    width: 700px;
    background-color: burlywood;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    place-items: center;
    
}

.nome3{
    height: 180px;
    width: 700px;
    background-color: chartreuse;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    place-items: center;
}

.nome4{
    height: 180px;
    width: 700px;
    background-color: cadetblue;
    border: 2px solid black; 
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    place-items: center;
}

.nome5{
    height: 80px;
    width: 90px;
    background-color: coral;
    border: 2px solid black;
    
}

.nome6{
    display: grid;
    grid-template-rows: 33.33% 33.33% 33.33%;
    justify-content: space-evenly;
    place-items: center;
}